{
  "extends": "eslint-config-airbnb",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true,
    "jest/globals": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "react",
    "jest"
  ],
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "packageDir": "./",
        "devDependencies": [
          "**/__tests__/**/test*.js",
          "**/test/**/*.js",
          "**/rollup.config.js"
        ]
      }
    ]
  }
}
